asgiref==3.2.10
beautifulsoup4==4.9.1
boto==2.49.0
boto3==1.14.61
botocore==1.17.61
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
Django==3.1.1
django-tinymce==3.0.2
django-tinymce4-lite==1.8.0
docutils==0.15.2
feedfinder2==0.0.4
feedparser==6.0.1
flake8==3.8.3
gensim==3.8.3
ibm-cloud-sdk-core==1.7.3
ibm-watson==4.7.1
idna==2.10
jieba3k==0.35.1
jmespath==0.10.0
joblib==0.16.0
jsmin==2.2.2
lxml==4.5.2
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.5
numpy==1.19.2
Pillow==7.2.0
pycodestyle==2.6.0
pyflakes==2.2.0
PyJWT==1.7.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
requests-file==1.5.1
s3transfer==0.3.3
scipy==1.5.2
sgmllib3k==1.0.0
six==1.15.0
smart-open==2.1.1
soupsieve==2.0.1
sqlparse==0.3.1
tinysegmenter==0.3
tldextract==2.2.3
tqdm==4.49.0
urllib3==1.25.10
websocket-client==0.48.0
